.holelib-container {
  position: relative;
  font-family: 'Lucida Grande';
  margin-top: 16px;
}
.holelib-minilabel {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 13px;
  transition: opacity 0.3s, top 0.3s, color 0.3s;
  opacity: 0.9999;
  color: #aaa;
}
.holelib-minilabel-hidden {
  top: 8px;
  opacity: 0;
}
.holelib-minilabel-focused {
  color: #63c8ff;
}
.holelib-input {
  margin: 0;
  margin-top: 16px;
  line-height: 32px;
  height: 32px;
  font-size: 18px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
}
.holelib-input:focus {
  outline: none;
}